@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

body, html{
    background-color: lightgrey;
}
header{
    background-color: gray;
}
header > h1{
    padding: 10px;
    text-align: center;
}
span#burguer{
    background-color: rgb(39, 38, 38);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}
span#burguer:hover{
    background-color: white;
    color: black;
}
menu{
    display: block;
}
menu > ul{
    list-style-type: none;
}
menu > ul >li > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(81, 81, 81);
    color: white;
    border-top: 2px solid gray;
}
menu > ul > li > a:hover{
    background-color: gray;
}
main{
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
article > h2{
    text-align: justify;
    padding-bottom: 20px;
    text-indent: 20px;
}